
# postgres ============================================= #

# reconnais auto:
POSTGRES_USER=wellNessUser
POSTGRES_PASSWORD=password123
POSTGRES_DB=wellNessDb
# reste:
POSTGRES_PORT=5432
POSTGRES_HOST=localhost