
# postgres ============================================= #

# reconnais auto:
POSTGRES_USER=wellNessUser
POSTGRES_PASSWORD=password123
POSTGRES_DB=wellNessDb
# reste:
POSTGRES_PORT=5432
POSTGRES_HOST=localhost



# JWT ================================================== #
SECRET_KEY=patate3000
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=9000


# ADMIN CREATION
ADMIN_USERNAME=superuser
ADMIN_PASSWORD=password123
ADMIN_EMAIL=super@gmail.com
